.header_logoBox {
    display: block;
    float: left;;
    width: 7%;
}

.header_logo {
    width: 100%;
}

.about_img-svg {
    position: absolute;
    bottom: -3.125rem;
    right: 5rem;

    @include for_breakpoint(mobile) {
        display: none;
        opacity: 0;
    }
}

.service_img {
    width: 100%;

    @include for_breakpoint(mobile) {
        width: 90%;
    }
}

.features_img {
    margin-right: 2rem;
}

.action_img {
    width: 100%;
    margin-top: 5rem;
}